body{
    background-color: rgb(255, 189, 189);
}

h1{
    font-family: 'Indie Flower', cursive;
    color:hotpink;
    font-size: 40px;
    padding: 4px 4px

}


























.center{
text-align: center;
}